.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2b2f5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1e318dc2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name {
  background-image: url(./images/bg.jpg);
}

.footer {
  background-color: #021b22;
  /* position: absolute; */
  /* position: sticky; */
  /* z-index: ; */

  width: 100%;
  padding-top: 20px;
  /* bottom: 0; */
}
div .footer {
  /* bottom:0px !important; */
}
.table {
  margin-top: 30px;
  
}
.transt {
  /* margin: 20px; */
  padding: 80px;
}

.content{
  position: relative;
  top:0;
}
.transaction {

  margin-top: 30px;
  padding: 70px;
}
